@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,600&display=swap');

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
    background-color: #34084e;
}

body::-webkit-scrollbar{
	width: 7px;
  
  }
  
  body::-webkit-scrollbar-thumb{
	background:#34084e;
  border-radius: 0px;
  
  }


.tarjeta .adelante .poster {
	width: 200px;
	margin-bottom: 10px;
	/*border-radius: 15px;*/
}

.trailer{
  color: aqua;
}

.titulo {
	font-size: 20px;
	font-weight: 60;
    position: absolute;
    top: 10px;
    left: 10px;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 40px auto 100px auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
}


.wrap{
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.tarjeta-wrap{
	margin: 10px;
	-webkit-perspective: 800;
	perspective: 800;
}

.tarjeta{
	width: 200px;
	height: 300px;
	background: #34084e;
	position: relative;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: .7s ease;
	transition: .7s ease;
	-webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
	box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);

}

.adelante, .atras{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

/*.adelante{
	width: 100%;
}*/

.atras{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	width: 100%;
	margin-bottom: 10px;
	padding: 15px;
    display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    align-items: center;

	text-align: center;
	color: #fff;
	font-family: "open sans";
  background: #471b61;
}

.tarjeta-wrap:hover .tarjeta{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.logo2{
	width: 85px;
    margin: 5px;
	/*display: none;*/
}

.logo-tm2{
	width: 226px;
	margin-top: 30px;
	margin-right: 10px;
	float: right;
	/*display: none;*/
}

.tendencia{
	color: white;
	font-size: 38px;
	text-align: center;
}

.linea {
	margin:0px 20px;
	width: 510px;    
	border-top:1px solid #999;
	position: relative;
	top:10px;
	float:left;
	align-content: center;
	}

	.linea2 {
		margin:0px 20px;
		width: 510px;    
		border-top:1px solid #999;
		position: relative;
		top:10px;
		float:left;
		align-content: center;
		}
  
  .leyenda {
	float:left;
	margin-bottom: 25px;
	margin-top: -15px;
   }

   .leyenda, .tendencia{
	font-weight:bold;
   }

   .divison{
	align-content: center;
   }

   .ads{
	display: flex;
	flex-direction: column;
	margin: 1rem auto;
	box-shadow: 0 3px 7px -1px rgba(#000, .1);
	margin-bottom: 5%;
	background: #420466;
	line-height: 1.4;
	font-family: sans-serif;
	border-radius: 5px;
	overflow: hidden;
	z-index: 0;
	text-align: center;
	display:table-row;
	box-shadow: 0px 0px 5px 1px black;
	float: right;
  }

  .info-amazon{
	font-size: 77%;
	font-family: 'Nunito Sans', sans-serif;
	color: beige;
  }

  a {
	color: inherit;
  }

  a:hover {
	color: #d65a5a;
  }

.izq{
	display:table-cell;
	border:0px solid black;
	width:25%;
	padding:10px;
	color: beige;
}

  .ads img{
	width: 35%;
	margin:auto;
	display:block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform .2s;
  }

  .arirubshop{
	color: white;
  }

  .titlle-shop{
    color: #38B5FD;
}

@media screen and (max-width: 618px){
     
	.izq h3{
		font-size: 85%;
	}

}
@media screen and (max-width: 618px){
     
	.info-amazon{
		font-size: 47%;
	  }

}
@media screen and (max-width: 618px){
     
	.izq h3{
		font-size: 45%;
	}
	.info-amazon{
		font-size: 37%;
	  }


}